.dog-list {
  display: flex;
  margin-top: 15vw;
  padding-left: 100%;
  animation: float 30s infinite linear;
  white-space: nowrap;
}

.dog-list:hover {
  animation-play-state: paused;
}

@keyframes float {
  to {
    transform: translateX(-100%);
  }
}

.dog-link {
  margin-left: 1vw;
  /* border: 5px solid black;
  border-radius: 20px;
  box-shadow: 10 10 10 black; */
}
